.setpass-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f9fc;
  min-height: 100vh;
  padding: 20px;
}

.setpass-card {
  background-color: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  position: relative;
  text-align: center;
}

.setpass-back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  background: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #333;
}

.setpass-logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.setpass-logo {
  width: 120px;
  height: 50px;
  object-fit: contain;
}

.setpass-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.setpass-input-wrapper {
  background-color: #e8edf1;
  border-radius: 12px;
  padding: 10px 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.input-icon {
  font-size: 18px;
  margin-right: 10px;
  color: #555;
}

.setpass-input {
  border: none;
  background: transparent;
  font-size: 16px;
  width: 100%;
  outline: none;
}

.setpass-submit-button {
  width: 100%;
  background-color: #0096d6;
  padding: 15px;
  border-radius: 12px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
