.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f9fc;
  min-height: 100vh;
  padding: 20px;
}

.signup-card {
  background-color: #fff;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  position: relative;
}

.back-button {
  position: absolute;
  top: 15px;
  left: 15px;
  border: none;
  background: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #333;
  padding: 5px;
}

.back-button:hover {
  color: #0096d6;
}

.signup-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.signup-logo {
  width: 120px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 15px;
}

.signup-title {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.signup-input-wrapper {
  background-color: #f0f4f8;
  border-radius: 12px;
  padding: 12px 15px;
  margin: 15px 0;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  gap:10px;
}

.sign-input {
  border: none;
  background: transparent;
  font-size: 16px;
  width: 100%;
  outline: none;
  padding-left: 10px;
  text-align: center;
  letter-spacing: 2px;
}

/* .signup-input-wrapper input {
  flex: 1; 
  border: none;
  background: transparent;
  font-size: 16px;
  outline: none;
  color: #333;
} */


.signup-input-wrapper:focus-within {
  box-shadow: 0 0 0 2px #0096d6;
}

.input-icon {
  font-size: 18px;
  margin-right: 10px;
  color: #555;
}

.signup-input-wrapper input {
  border: none;
  background: transparent;
  font-size: 16px;
  width: 100%;
  outline: none;
  color: #333;
}

.signup-input-wrapper input::placeholder {
  color: #888;
}



.sign-submit-button {
  width: 100%;
  background-color: #0096d6;
  padding: 15px;
  border-radius: 12px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}